{:deps  {org.clojure/clojure       {:mvn/version "1.10.0"}
         org.clojure/clojurescript {:mvn/version "1.10.439"}}
 :paths ["src"]

 :aliases
 {:dev {:extra-paths ["dev"]}
  
  :test
  {:extra-deps  {org.clojure/test.check {:mvn/version "0.9.0"}}
   :extra-paths ["test"]}
  
  :run-tests
  {:extra-deps
   {com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner.git"
     :sha     "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
   :extra-paths ["test"]
   :main-opts   ["-m" "cognitect.test-runner"]}
  
  :build-testjs
  {:extra-paths ["testjs/__cljs__"]
   :main-opts   ["-m" "cljs.main"
                 "-co" "testjs/__cljs__/cljsc_opts.edn"
                 "-c"]}}}
